<footer class="footer">
    
    <div class="footer-content">
        <div class="footer-logo">
            <img src="/image/gp.png" alt="Logo" class="footer-logo-img">
        </div>
        <div class="footer-links">
            <ul class="footer-nav">
                <li><a href="/">Home</a></li>
                <li><a href="/about">About Us</a></li>
                <li><a href="/shop">Shop</a></li>
                <li><a href="/contact">Contact</a></li>
            </ul>
        </div>
        <div class="footer-social">
            <a href="https://facebook.com/yourprofile" target="_blank" class="footer-social-icon">
                <i class="fab fa-facebook-f"></i>
            </a>
            <a href="https://twitter.com/yourprofile" target="_blank" class="footer-social-icon">
                <i class="fab fa-twitter"></i>
            </a>
            <a href="https://instagram.com/yourprofile" target="_blank" class="footer-social-icon">
                <i class="fab fa-instagram"></i>
            </a>
            <a href="https://linkedin.com/in/yourprofile" target="_blank" class="footer-social-icon">
                <i class="fab fa-linkedin-in"></i>
            </a>
        </div>
    </div>
    <div class="footer-bottom">
        <p>&copy; 2024 Your Company Name. All rights reserved.</p>
    </div>
</footer>
</body>
</html>