<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style/style.css">
    <script src="app.js" async></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <title>Document</title>
</head>


    <header>
        <div class="navbar">
        <div class="logo">
            <img src="/image/gp.png" alt="">
        </div>
        <nav class="navegacion">
            
                    <ul class="menu">
                        <li><a href="/">Home</a></li>
                        <li><a href="/about">About</a></li>
                        <li><a href="/productos/shop">Shop</a>
                            <ul class="submenu">
                                <li><a href="#">Man </a>
                                <ul class="submenu-man">
                                    <li><a href="#">Shoes</a></li>
                                    <li><a href="#">Clothing</a></li>
                                    <li><a href="#">Accesories</a></li>
                                </ul>
                                </li>
                                <li><a href="#">Woman </a>
                                    <ul class="submenu-woman">
                                        <li><a href="#">Shoes</a></li>
                                        <li><a href="#">Clothing</a></li>
                                        <li><a href="#">Accesories</a></li>
                                    </ul>
                                </li>
                                <li><a href="#">Kids </a>
                                    <ul class="submenu-kids">
                                        <li><a href="#">Shoes</a></li>
                                        <li><a href="#">Clothing</a></li>
                                        <li><a href="#">Accesories</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <li><a href="/contact">Contact</a></li>
                    </ul>
                
            
        </nav>
        <div class="cart-icon">
            <a href="#"><i class="fa-solid fa-bag-shopping"></i></a>
        </div>
    </div>
    </header>
    
    

    <body>