<%-include('../partials/head')%>


<section class="about">
    <div class="about-container">
        <div class="about-text">
            <h1 class="about-title">Empowering Every Runner: Discover Our Passion for Performance Apparel</h1>
            <p>
                Welcome to <strong>RunBeyond</strong>, where our mission is to provide top-notch running apparel designed to enhance your performance and comfort. Our journey started with a simple idea: to create high-quality, innovative gear for runners of all levels.
            </p>
            <p>
                At RunBeyond, we believe that the right gear can make a world of difference. That’s why we meticulously craft our products using advanced materials and technology to ensure durability, breathability, and style. Whether you're a seasoned marathoner or just starting your running journey, our collection is designed to help you achieve your best.
            </p>
            <p>
                Our team is composed of passionate runners who understand the unique needs of athletes. We are committed to continuous improvement and innovation, always seeking to push the boundaries of what’s possible in running apparel.
            </p>
            <p>
                Thank you for choosing RunBeyond. Join us on this exciting journey, and let’s run beyond our limits together!
            </p>
        </div>
        <div class="about-image">
            <img src="/image/about1.jpg" alt="About Us">
        </div>
    </div>
</section>

<%-include('../partials/footer')%>