<%-include('../partials/head')%>

<section class="banner">
    <img src="/image/banner-home.png" alt="">
</section>
<section class="s1-home">
    <h1>SPORT´S A RELIGION</h1>
    <h3>Do sports and live a healthy life with us</h3>
    <button class="button-s1">Explore</button>
</section>

<%-include('../partials/footer')%>
